<div class="mini-slider">
    <div class="slider">
        <div class="swiper about-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                   <img src="@@imageSlider" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="@@imageSlider" alt="">
                </div>
            </div>
            <div class="swiper-button-next swiper-button"></div>
            <div class="swiper-button-prev swiper-button"></div>
            <div class="nav-block"></div>
        </div>
    </div>
</div>