<div class="news-component">
    <div class="slider">
        <div class="swiper news-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/pages/home/news-img-1.svg" alt="">
                    <div class="info">
                        <span>12.04.2019</span>
                        <h3>Центр поддержки экспорта, в студии<br>
                            Павел Тулба</h3>
                        <p>Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена
                            среди
                            наших садоводов, не смотря на большой спрос в Европе <br> и отличную...</p>
                        <a href="#">Читать</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="images/pages/home/news-img-2.svg" alt="">
                    <div class="info">
                        <span>12.04.2019</span>
                        <h3>В Одесской области состоялся масштабный <br>
                            торгово - экспортный форум</h3>
                        <p>Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена
                            среди
                            наших садоводов, не смотря на большой спрос в Европе <br> и отличную...</p>
                        <a href="#">Читать</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="images/pages/home/news-img-3.svg" alt="">
                    <div class="info">
                        <span>12.04.2019</span>
                        <h3>Сертификация органического <br>
                            производителя</h3>
                        <p>Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена
                            среди
                            наших садоводов, не смотря на большой спрос в Европе <br> и отличную...</p>
                        <a href="#">Читать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>