<div class="products-catalog">
    <div class="wrapper">
        <div class="block">
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="images/pages/home/prod-first-img.svg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/pages/home/prod-first-img.svg" alt="">
                    </div>
                </div>
                <div class="swiper-button-next swiper-button"></div>
                <div class="swiper-button-prev swiper-button"></div>
            </div>
            <div class="info">
                <div class="container">
                    <h2>Грецкий орех</h2>
                    <span>Арт: 0091</span>
                    <p>Орех сладкий, классический,<br>
                        очищенный</p>
                    <div class="desc">
                        <div class="weight">
                            <img src="images/pages/home/food-scale-tool.svg" alt="">
                            <p>Масса: <br>
                                <span>40г.</span></p>
                        </div>
                        <div class="bag">
                            <img src="images/pages/home/bag.svg" alt="">
                            <p>Упаковка <br>
                                <span>вакуумная</span></p>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="bottom">
                    <div class="price">
                        <p>Цена:</p>
                        <p>19<span>грн.</span></p>
                        <p>21 <span>грн.</span></p>
                    </div>
                    <a href="#">Купить</a>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="images/pages/home/prod-second-img.svg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/pages/home/prod-second-img.svg" alt="">
                    </div>
                </div>
                <div class="swiper-button-next swiper-button"></div>
                <div class="swiper-button-prev swiper-button"></div>
            </div>
            <div class="info">
                <div class="container">
                    <h2>Грецкий орех</h2>
                    <span>Арт: 0091</span>
                    <p>Орех сладкий, классический,<br>
                        очищенный</p>
                    <div class="desc">
                        <div class="weight">
                            <img src="images/pages/home/food-scale-tool.svg" alt="">
                            <p>Масса: <br>
                                <span>40г.</span></p>
                        </div>
                        <div class="bag">
                            <img src="images/pages/home/bag.svg" alt="">
                            <p>Упаковка <br>
                                <span>вакуумная</span></p>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="bottom">
                    <div class="price">
                        <p>Цена:</p>
                        <p class="price-from"><span>от</span> 21<span>грн.</span></p>
                    </div>
                    <a href="#">Купить</a>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="images/pages/home/prod-third-img.svg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/pages/home/prod-third-img.svg" alt="">
                    </div>
                </div>
                <div class="swiper-button-next swiper-button"></div>
                <div class="swiper-button-prev swiper-button"></div>
            </div>
            <div class="info">
                <div class="container">
                    <h2>Грецкий орех</h2>
                    <span>Арт: 0091</span>
                    <p>Орех сладкий, классический,<br>
                        очищенный</p>
                    <div class="desc">
                        <div class="weight">
                            <img src="images/pages/home/food-scale-tool.svg" alt="">
                            <p>Масса: <br>
                                <span>40г.</span></p>
                        </div>
                        <div class="bag">
                            <img src="images/pages/home/bag.svg" alt="">
                            <p>Упаковка <br>
                                <span>вакуумная</span></p>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="bottom">
                    <div class="price">
                        <p>Цена:</p>
                        <p class="price-from"><span>от</span> 21<span>грн.</span></p>
                    </div>
                    <a href="#">Купить</a>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="images/pages/home/prod-fourth-img.svg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/pages/home/prod-fourth-img.svg" alt="">
                    </div>
                </div>
                <div class="swiper-button-next swiper-button"></div>
                <div class="swiper-button-prev swiper-button"></div>
            </div>
            <div class="info">
                <div class="container">
                    <h2>Грецкий орех</h2>
                    <span>Арт: 0091</span>
                    <p>Орех сладкий, классический,<br>
                        очищенный</p>
                    <div class="desc">
                        <div class="weight">
                            <img src="images/pages/home/food-scale-tool.svg" alt="">
                            <p>Масса: <br>
                                <span>40г.</span></p>
                        </div>
                        <div class="bag">
                            <img src="images/pages/home/bag.svg" alt="">
                            <p>Упаковка <br>
                                <span>вакуумная</span></p>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="bottom">
                    <div class="price">
                        <p>Цена:</p>
                        <p>19<span>грн.</span></p>
                        <p>21 <span>грн.</span></p>
                    </div>
                    <a href="#">Купить</a>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="images/pages/home/prod-fifth-img.svg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/pages/home/prod-fifth-img.svg" alt="">
                    </div>
                </div>
                <div class="swiper-button-next swiper-button"></div>
                <div class="swiper-button-prev swiper-button"></div>
            </div>
            <div class="info">
                <div class="container">
                    <h2>Грецкий орех</h2>
                    <span>Арт: 0091</span>
                    <p>Орех сладкий, классический,<br>
                        очищенный</p>
                    <div class="desc">
                        <div class="weight">
                            <img src="images/pages/home/food-scale-tool.svg" alt="">
                            <p>Масса: <br>
                                <span>40г.</span></p>
                        </div>
                        <div class="bag">
                            <img src="images/pages/home/bag.svg" alt="">
                            <p>Упаковка <br>
                                <span>вакуумная</span></p>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="bottom">
                    <div class="price">
                        <p>Цена:</p>
                        <p class="price-from"><span>от</span> 21<span>грн.</span></p>
                    </div>
                    <a href="#">Купить</a>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="images/pages/home/prod-sixth-img.svg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/pages/home/prod-sixth-img.svg" alt="">
                    </div>
                </div>
                <div class="swiper-button-next swiper-button"></div>
                <div class="swiper-button-prev swiper-button"></div>
            </div>
            <div class="info">
                <div class="container">
                    <h2>Грецкий орех</h2>
                    <span>Арт: 0091</span>
                    <p>Орех сладкий, классический,<br>
                        очищенный</p>
                    <div class="desc">
                        <div class="weight">
                            <img src="images/pages/home/food-scale-tool.svg" alt="">
                            <p>Масса: <br>
                                <span>40г.</span></p>
                        </div>
                        <div class="bag">
                            <img src="images/pages/home/bag.svg" alt="">
                            <p>Упаковка <br>
                                <span>вакуумная</span></p>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="bottom">
                    <div class="price">
                        <p>Цена:</p>
                        <p class="price-from"><span>от</span> 21<span>грн.</span></p>
                    </div>
                    <a href="#">Купить</a>
                </div>
            </div>
        </div>
    </div>
</div>