<div class="statistics-component">
    <div class="wrapper">
        <div class="block">
            <div class="number">240 <span>Га</span></div>
            <p>Cмешанных <br> садов</p>
        </div>
        <div class="block">
            <div class="number">1 <span>Га</span></div>
            <p>Тепличного <br> комплекса</p>
        </div>
        <div class="block">
            <div class="number">10 <span>Га</span></div>
            <p>Первая промышленная плантация <br> шиповника в Украине</p>
        </div>
        <div class="block">
            <div class="number">80 <span>%</span></div>
            <p>Приживаемости <br> саженцев</p>
        </div>
    </div>
</div>