body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
}

// colors
$dark-green:    #337D5A;
$light-green:   #93B474;
$dark-blue:     #1A2F3F;
$grey:          #8A8A8A;