.header {
    position: relative;

    &__top {
        width: 100%;
        height: 38px;
        background: rgba(245, 245, 245, 0.5);
        width: 100%;
        display: flex;
        justify-content: center;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1315px;
            width: 100%;

            .socials {
                display: flex;
                align-items: center;
                gap: 19px;
                height: 100%;
                margin-right: 167px;

                @media(max-width:1000px) {
                    margin-right: 0px;
                }
            }

            .title {
                color: $dark-green;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;

                @media(max-width:768px) {
                    display: none;
                }
            }

            .signing-block {
                display: flex;
                font-family: 'Raleway';
                font-weight: 500;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: 0.02em;

                .lang {
                    a {
                        display: flex;
                        color: black;

                        div {
                            margin-right: 6px;
                        }
                    }
                }

                .registration {
                    margin-right: 49px;
                    position: relative;

                    a {
                        color: black;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 16px;
                        left: 0px;
                        height: 2px;
                        width: 100%;
                        background-color: $light-green;
                    }
                }

                .login {
                    display: flex;
                    margin-right: 27px;
                    position: relative;

                    a {
                        color: black;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 2px;
                        left: -16px;
                        width: 11px;
                        height: 11px;
                        background-image: url('../../images/layouts/header/man-user.svg');
                    }
                }
            }
        }
    }

    &__center {
        display: flex;
        justify-content: center;
        height: 85px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1315px;
            width: 100%;

            .mobile-bar {
                display: none;
                width: 19px;
                height: 17px;
                background-image: url("../../images/layouts/header/menu.svg");
                transition: all 0.25s ease-in-out;

                @media(max-width:768px) {
                    display: block;
                }
            }

            .cross-menu {
                background-image: url("../../images/layouts/header/close.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            .logo {
                margin-top: 5px;
                display: flex;
                align-items: center;

                img {
                    @media(max-width:768px) {
                        width: 29px;
                        height: 28px;
                    }
                }

                @media(max-width:768px) {
                    flex-direction: column;
                }

                h2 {
                    margin-left: 9px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 800;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.02em;
                    color: $dark-blue;

                    @media(max-width:768px) {
                        margin-left: 0px;
                        text-align: center;
                        font-size: 11px;
                        line-height: 13px;
                    }
                }
            }

            .contacts {
                display: flex;
            }

            .bag {
                display: flex;
                align-items: center;
            }

            .ring {
                display: flex;
                align-items: center;
                margin-right: 27px;

                @media(max-width:1000px) {
                    display: none;
                }

                p {
                    width: 178px;
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.02em;
                    color: $grey;
                }

                a {
                    margin-right: 16px;
                    text-align: center;
                    display: block;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 15px;
                    line-height: 42px;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;
                    background: #337D5A;
                    width: 148px;
                    height: 42px;
                    letter-spacing: 0.4px;
                    padding-left: 5px;
                }
            }

            .phones {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-right: 93px;

                @media(max-width:768px) {
                    display: none;
                }

                a {
                    margin-bottom: 2px;
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 16px;
                    color: #000000;

                    span {
                        color: $dark-green;
                    }
                }
            }

            .socials {
                margin-top: 2px;
                display: flex;
                gap: 10px;
                margin-right: 33px;

                @media(max-width:768px) {
                    display: none;
                }
            }
        }
    }

    nav {
        @media(max-width:768px) {
            display: none;
        }

        ul {
            height: 56px;
            padding-top: 7px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            max-width: 1138px;
            width: 100%;
            justify-content: space-between;

            @media(max-width:1200px) {
                padding: 0 12px;
            }

            li {
                font-family: 'Raleway';
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.02em;
                color: $dark-blue;

                @media(max-width:1000px) {
                    font-size: 13px;
                    line-height: 15px;
                }
            }

            .active {
                color: $dark-green;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 78px;
                    height: 3px;
                    background-color: $dark-green;
                    top: 30px;
                    left: -7px;

                    @media(max-width:1000px) {
                        left: 0px;
                        width: 100%;
                    }
                }
            }
        }
    }

    .modal-menu {
        position: absolute;
        top: 123px;
        left: -100%;
        width: 100%;
        min-height: 329px;
        background: white;
        z-index: 1000;
        transition: all .5s ease-in-out;

        nav {
            @media(max-width:768px) {
                display: block;
            }

            ul {
                flex-direction: column;
                align-items: center;
                padding: 0px;

                li {
                    width: 96%;
                    padding: 18px 12px;

                    border-bottom: 1px solid rgba(0, 0, 0, 0.04);

                    a {
                        font-family: 'Raleway';
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        letter-spacing: 0.02em;
                        color: $dark-blue;

                    }
                }

                .active-link {
                    background-color: $dark-green;
                    width: 100%;
                    border: none;
                    padding: 18px 20px;
                    a {
                        font-family: 'Raleway';
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 18px;
                        letter-spacing: 0.02em;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }

    .modal-active {
        transform: translate3d(100%, 0px, 0px);
        box-shadow: 0px 2px 10px ghostwhite;
    }
}