<footer class="footer">
    <div class="contacts">
        <div class="info">
            <h2>Контакты</h2>
            <div class="links">
                <div class="phones">
                    <p><a href="tel:+38 (095) 711 11 11">+38 (095) 711 11 11</a></p>
                    <p><a href="tel:+38 (095) 711 11 11">+38 (095) 711 11 11</a></p>
                </div>
                <div class="socials">
                    <img src="../../images/layouts/footer/viber-footer.svg" alt="">
                    <img src="../../images/layouts/footer/telegram-footer.svg" alt="">
                    <img src="../../images/layouts/footer/whatsapp-footer.svg" alt="">
                </div>
            </div>
            <div class="email">
                nuts@nbsc.com.ua
            </div>
            <div class="address-top">
                <h3>Офис и отдел продаж</h3>
                <p>Украина, г. Одесса,<br>
                    ул. Космонавтов, 32</p>
            </div>
            <div class="address-bottom">
                <h3>Производство</h3>
                <p>Украина, Одесская обл,<br>
                    с. Яськи, ул. Центральная, 232</p>
            </div>
        </div>
        <div class="map"></div>
    </div>
    <div class="footer-bottom">
        <div class="top">
            <div class="logo">
                <img src="../../images/layouts/header/logo.svg" alt="">
                <h2>ОРЕХ <br> ПРИЧЕРНОМОРЬЯ</h2>
            </div>
            <div class="navigation">
                <nav>
                    <ul>
                        <li>Магазин</li>
                        <li class="active">Корпоративным клиентам</li>
                        <li>Оплата и доставка</li>
                        <li>О производстве</li>
                        <li>Новости и статьи</li>
                        <li>Галерея</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="line"></div>
        <div class="bottom">
            <h3>Разработано <span><i>AVADA</i> MEDIA</span></h3>
            <p>Copyright © 2019. Все права защищены</p>
            <div class="socials">
                <img src="../../images/layouts/header/facebook.svg" alt="">
                <img src="../../images/layouts/header/instagram.svg" alt="">
                <img src="../../images/layouts/header/youtube.svg" alt="">
            </div>
        </div>
    </div>
</footer>