<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="socials">
                <a href="#">
                    <img src="../../images/layouts/header/facebook.svg" alt="">
                </a>
                <a href="#">
                    <img src="../../images/layouts/header/instagram.svg" alt="">
                </a>
                <a href="#">
                    <img src="../../images/layouts/header/youtube.svg" alt="">
                </a>
            </div>
            <div class="title">
                Ваша персональная скидка - 5%
            </div>
            <div>
                <div class="signing-block">
                    <div class="login">
                        <a href="#">Вход</a>
                    </div>
                    <div class="registration">
                        <a href="#">Регистрация</a>
                    </div>
                    <div class="lang">
                        <a href="#">
                            <div>Ru</div>
                            <img src="../../images/layouts/header/arrow-down.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__center">
        <div class="container">
            <div onclick="openModal()" class="mobile-bar"></div>
            <div class="logo">
                <img src="../../images/layouts/header/logo.svg" alt="">
                <h2>ОРЕХ <br>
                    ПРИЧЕРНОМОРЬЯ</h2>
            </div>
            <div class="contacts">
                <div class="socials">
                    <a href="#">
                        <img src="../../images/layouts/header/viber.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="../../images/layouts/header/telegram.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="../../images/layouts/header/whatsapp.svg" alt="">
                    </a>
                </div>
                <div class="phones">
                    <a href="tel:+38 (044) 750-50-11"><span>+38 (044)</span> 750-50-11</a>
                    <a href="tel:+38 (097) 775-50-51"><span>+38 (097)</span> 775-50-51</a>
                </div>
                <div class="ring">
                    <a href="#">Заказать звонок</a>
                    <p>Ждем Вашего звонка ежедневно с 9 до 18</p>
                </div>
                <div class="bag">
                    <img src="../../images/layouts/header/bag.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul>
            <li><a class="active" href="catalog.html">Магазин</a></li>
            <li>О производстве</li>
            <li>Оплата и доставка</li>
            <li>Оптовым и корпоративным клиентам</li>
            <li>Новости и статьи</li>
            <li>Контакты</li>
        </ul>
    </nav>
    <div class="modal-menu">
        <nav>
            <ul>
                <li><a href="#">Магазин</a></li>
                <li><a href="#">О производстве</a></li>
                <li class="active-link"><a href="#">Оплата и доставка</a></li>
                <li><a href="#">Оптовым и корпоративным клиентам</a></li>
                <li><a href="#">Новости и статьи</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>