.catalog-main {
    .front-section {
        height: 300px;
        width: 100%;
        background-image: url("../../images/pages/catalog/front-bg.svg");

        @media(max-width:1350px) {
            padding: 0 10px;
        }

        @media(max-width:768px) {
            height: 200px;
            background-position: center;
        }

        .container {
            max-width: 1290px;
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                margin-top: 26px;
                font-family: 'Raleway';
                font-weight: 800;
                font-size: 62px;
                line-height: 73px;
                letter-spacing: 0.02em;
                color: #FFFFFF;

                @media(max-width:768px) {
                    font-size: 28px;
                    line-height: 35px;
                }
            }

            .navigation {
                position: absolute;
                top: 36px;
                left: 0px;
                display: flex;
                gap: 10px;

                @media(max-width:768px) {
                    top: 10px;
                }

                p {
                    font-family: 'Raleway';
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;
                }

                .arrow {
                    margin-top: 1px;
                }
            }
        }
    }

    .production-section {
        .filter-block {
            max-width: 1290px;
            width: 100%;
            margin: 70px auto;
            display: flex;

            @media(max-width:1350px) {
                padding: 0 10px;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 50px;
            }

            @media(max-width:768px) {
                margin: 25px auto;
                gap: 25px;
            }

            .filter {
                display: flex;
                align-items: center;

                h2 {
                    font-family: 'Raleway';
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 20px;
                    letter-spacing: 0.01em;
                    color: $dark-blue;
                    margin-right: 12px;
                }
            }

            .select {
                margin-left: 69px;

                @media(max-width:1350px) {
                    margin-left: 0px;
                }

                select {
                    width: 283px;
                    height: 48px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    font-family: 'Raleway';
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.01em;
                    color: $dark-blue;
                    padding-left: 15px;
                    appearance: none;
                    background-image: url('../../images/pages/catalog/select-arrow.svg');
                    background-repeat: no-repeat;
                    background-position: 254px 19px;
                }
            }

            .second-select {
                margin-left: 29px;

                select {
                    width: 171px;
                    background-position: 142px 19px;
                }
            }

            .price {
                margin-top: 14px;
                display: flex;
                margin-left: 50px;

                @media(max-width:1350px) {
                    margin-left: 0px;
                }

                p {
                    font-family: 'Raleway';
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 20px;
                    letter-spacing: 0.01em;
                    color: $dark-blue;
                    margin-right: 14px;
                }

                div {
                    margin-top: 4px;
                }
            }

            .submit {
                margin-top: -4px;
                margin-left: 161px;

                @media(max-width:1350px) {
                    margin-left: 0px;
                }

                a {
                    display: block;
                    width: 150px;
                    height: 48px;
                    background: $dark-green;
                    font-family: 'Raleway';
                    text-align: center;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 48px;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                }
            }

            .reset {
                display: flex;
                margin-top: 13px;
                margin-left: 47px;

                @media(max-width:1350px) {
                    margin-left: 0px;
                }

                p {
                    font-family: 'Raleway';
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.01em;
                    color: $grey;
                    margin-left: 8px;
                }
            }
        }

        .products {
            margin-top: 81px;

            @media(max-width:768px) {
                margin-top: 30px;
            }

            .block {
                @media(max-width:768px) {
                    min-height: 410px;
                }
            }
        }

        .more {
            a {
                margin: 0 auto;
                display: block;
                width: 200px;
                height: 51px;
                border: 1.5px solid #337D5A;
                font-family: 'Raleway';
                font-weight: 700;
                font-size: 15px;
                line-height: 48px;
                letter-spacing: 0.02em;
                color: $dark-green;
                text-align: center;

                @media(max-width:768px) {
                    width: 180px;
                    height: 40px;
                    font-size: 13px;
                    line-height: 37px;
                }
            }
        }
    }

    .clearnut-section {
        margin-top: 96px;
        background: #FBFBFB;
        min-height: 662px;
        width: 100%;
        padding-top: 101px;

        @media(max-width:1350px) {
            padding: 30px 0px;
        }

        @media(max-width:768px) {
            margin-top: 40px;
        }

        .container {
            margin: 0 auto;
            max-width: 1315px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            @media(max-width:1350px) {
                flex-direction: column;
                gap: 30px;
            }

            @media(max-width:768px) {
                gap: 0px;
            }

            .info {
                h2 {
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 45px;
                    line-height: 46px;
                    letter-spacing: 0.021em;
                    color: $dark-blue;

                    @media(max-width:768px) {
                        font-size: 28px;
                        line-height: 35px;
                    }
                }

                h3 {
                    margin-top: 7px;
                    font-family: 'Raleway';
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 50px;
                    letter-spacing: 0.01em;
                    color: $dark-blue;

                    @media(max-width:768px) {
                        font-size: 20px;
                        line-height: 26px;
                    }
                }

                .descr {
                    display: flex;

                    p {
                        margin-top: 14px;
                        font-family: 'Lato', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24.9px;
                        letter-spacing: 0.02em;
                        color: $dark-blue;

                        @media(max-width:768px) {
                            margin-top: 5px;
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }

                    p:nth-child(1) {
                        margin-top: 14px;

                        @media(max-width:768px) {
                            margin-top: 10px;
                        }
                    }

                    p:nth-child(2) {
                        margin-top: 29px;

                        @media(max-width:768px) {
                            margin-top: 10px;
                        }
                    }

                    p:nth-child(3) {
                        margin-top: 29px;

                        @media(max-width:768px) {
                            margin-top: 10px;
                        }
                    }

                    br {
                        @media(max-width:1350px) {
                            display: none;
                        }
                    }

                    .line {
                        margin: 7px 0px 0 49px;

                        @media(max-width:1350px) {
                            display: none;
                        }
                    }
                }

            }
        }
    }
}

.footer-catalog {
    .contacts {
        padding-top: 80px;
    }
}