.home {
    .front-section {
        width: 100%;
        height: 600px;
        background-image: url('../../images/pages/home/front-img.svg');
        text-align: center;

        @media(max-width:768px) {
            height: 450px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            padding-top: 195px;
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 62px;
            line-height: 73px;
            letter-spacing: 0.019em;
            color: #FFFFFF;

            @media(max-width:768px) {
                padding-top: 0px;
                font-size: 28px;
                line-height: 33px;
            }
        }

        p {
            margin-top: 32px;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 25px;
            line-height: 31px;
            text-align: center;
            letter-spacing: .01em;
            color: #fff;

            @media(max-width:768px) {
                font-size: 17px;
                line-height: 20px;
            }
        }

        .play {
            margin: 38px auto 0px;
            padding: 20px 0px 0px 4px;
            width: 61px;
            height: 61px;
            border: 2px solid white;
            border-radius: 50%;
        }
    }

    .production-section {
        @media(max-width:768px) {
            padding: 0 10px;
        }

        h2 {
            margin-top: 84px;
            font-family: 'Raleway';
            text-align: center;
            font-weight: 800;
            font-size: 45px;
            line-height: 53px;
            letter-spacing: 0.02em;
            color: $dark-blue;

            @media(max-width:1350px) {
                font-size: 28px;
                line-height: 35px;
                margin-top: 35px;
            }
        }

        p {
            margin-top: 27px;
            text-align: center;
            font-family: 'Raleway';
            font-weight: 500;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #1A2F3F;

            @media(max-width:1350px) {
                font-size: 16px;
                line-height: 25px;
                margin-top: 15px;
            }

            br {
                @media(max-width:768px) {
                    display: none;
                }
            }
        }

        .wrapper {
            max-width: 1290px;
            width: 100%;
            margin: 60px auto 71px;
            display: flex;
            flex-wrap: wrap;
            gap: 49px 30px;

            @media(max-width:1350px) {
                justify-content: center;
            }

            @media(max-width:768px) {
                margin: 20px auto 35px;
                gap: 20px;
            }

            .block {
                width: 410px;
                height: 534px;
                background: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.08);
                transition: all 0.25s ease-in-out;

                @media(max-width:1350px) {
                    width: 320px;
                    height: 534px;
                }

                @media(max-width:768px) {
                    height: 395px;
                }

                .product-swiper {
                    width: 100%;
                    height: 278px;
                    background: #FCFCFC;
                    position: relative;

                    @media(max-width:768px) {
                        height: 200px;
                    }

                    .swiper-slide {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.25s ease-in-out;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            width: 55px;
                            height: 55px;
                            top: 118px;
                            left: 0px;
                            right: 0px;
                            margin: 0 auto;
                            background-image: url("../../images/pages/home/zoom.svg");
                            opacity: 0;
                            transition: all 0.25s ease-in-out;

                            @media(max-width:768px) {
                                opacity: 1;
                                top: 90px;
                            }
                        }

                        img {
                            @media(max-width:768px) {
                                width: 70px;
                            }
                        }
                    }

                    .swiper-button-prev::after {
                        content: "";
                        position: absolute;
                        width: 23px;
                        height: 19px;
                        top: 26px;
                        left: 4px;
                        background-image: url('../../images/pages/home/arrow-next.svg');
                        transform: rotate(180deg);
                        opacity: 0;
                        transition: all 0.25s ease-in-out;

                        @media(max-width:768px) {
                            opacity: 1;
                        }
                    }

                    .swiper-button-next::after {
                        content: "";
                        position: absolute;
                        width: 23px;
                        height: 19px;
                        top: 24px;
                        left: -2px;
                        background-image: url('../../images/pages/home/arrow-next.svg');
                        opacity: 0;
                        transition: all 0.25s ease-in-out;

                        @media(max-width:768px) {
                            opacity: 1;
                        }
                    }
                }

                &:hover {
                    border: 1px solid #93B474;
                }

                &:hover .swiper-button-prev::after,
                &:hover .swiper-button-next::after {
                    opacity: 1;
                }

                &:hover .swiper-slide::after {
                    opacity: 1;
                }

                .info {

                    .container {
                        padding: 20px 30px 0px 21px;

                        @media(max-width:768px) {
                            padding: 10px;
                        }

                        h2 {
                            margin-top: 0px;
                            font-size: 18px;
                            line-height: 21px;
                            text-align: left;
                            letter-spacing: 0.01em;

                            @media(max-width:768px) {
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }

                        span {
                            display: block;
                            margin-top: 7px;
                            font-family: 'Montserrat';
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 18px;
                            letter-spacing: 0.01em;
                            color: #8A8A8A;

                            @media(max-width:768px) {
                                font-size: 13px;
                                line-height: 16px;
                            }
                        }

                        p {
                            margin-top: 11px;
                            font-family: 'Raleway';
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: .01em;
                            color: #000;
                            text-align: left;

                            @media(max-width:768px) {
                                font-size: 14px;
                                line-height: 16px;
                            }
                        }

                        .desc {
                            display: flex;
                            margin-top: 16px;
                            justify-content: space-between;

                            .weight,
                            .bag {
                                display: flex;

                                p {
                                    margin-left: 9px;
                                    margin-top: 7px;
                                    font-family: 'Montserrat';
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 3px;
                                    letter-spacing: 0.01em;
                                    color: #8A8A8A;

                                    @media(max-width:768px) {
                                        font-size: 12px;
                                    }

                                    span {
                                        color: rgba(51, 125, 90, 1);
                                    }
                                }

                                img {
                                    margin-top: 5px;
                                }
                            }

                            .bag {
                                p {
                                    margin-left: 14px;
                                    line-height: 1px;

                                    span {
                                        letter-spacing: -0.3px;
                                    }
                                }
                            }
                        }

                    }

                    .line {
                        margin-top: 16px;
                        width: 100%;
                        height: 1px;
                        background-color: rgba(0, 0, 0, 0.08);

                        @media(max-width:768px) {
                            margin-top: 0px;
                        }
                    }

                    .bottom {
                        display: flex;
                        justify-content: space-between;
                        padding: 13px 23px 25px 21px;

                        @media(max-width:768px) {
                            padding: 10px;
                        }

                        .price {
                            display: flex;
                            align-items: center;

                            p {
                                margin-top: 0px;
                            }

                            p:nth-child(1) {
                                font-family: 'Montserrat';
                                font-weight: 600;
                                font-size: 15px;
                                line-height: 18px;
                                letter-spacing: 0.01em;
                                color: $dark-blue;

                                @media(max-width:768px) {
                                    font-size: 13px;
                                    line-height: 15px;
                                }
                            }

                            p:nth-child(2) {
                                margin-left: 8px;
                                font-family: 'Montserrat';
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 24px;
                                letter-spacing: 0.01em;
                                color: $dark-green;

                                @media(max-width:768px) {
                                    font-size: 16px;
                                    line-height: 20px;
                                }

                                span {
                                    margin-left: 4px;
                                    font-size: 15px;
                                    line-height: 18px;

                                    @media(max-width:768px) {
                                        font-size: 13px;
                                        line-height: 16px;
                                    }
                                }
                            }

                            p:nth-child(3) {
                                padding: 4px 0px 0px 9px;
                                font-family: 'Montserrat';
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 20px;
                                letter-spacing: 0.01em;
                                color: $grey;
                                position: relative;

                                @media(max-width:768px) {
                                    font-size: 14px;
                                    line-height: 16px;
                                }

                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 88%;
                                    height: 1px;
                                    background-color: #8a8a8a;
                                    top: 14px;
                                    left: 8px;

                                    @media(max-width:768px) {
                                        top: 12px;
                                    }
                                }

                                span {
                                    margin-left: -2px;
                                    font-size: 13px;
                                    line-height: 16px;

                                    @media(max-width:768px) {
                                        font-size: 11px;
                                        line-height: 14px;
                                    }
                                }
                            }

                            .price-from {
                                margin-left: 4px !important;
                            }
                        }

                        a {
                            display: block;
                            width: 124px;
                            height: 41px;
                            background: $dark-green;
                            border: 1px solid $dark-green;
                            font-family: 'Raleway';
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 16px;
                            letter-spacing: 0.02em;
                            color: #FFFFFF;
                            text-align: center;
                            line-height: 41px;
                            padding-left: 2px;

                            @media(max-width:768px) {
                                height: 35px;
                                line-height: 35px;
                            }
                        }
                    }
                }
            }
        }

        .more {
            display: block;
            margin: 0 auto 90px;
            width: 200px;
            height: 52px;
            border: 1.5px solid #337D5A;
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.02em;
            color: #337D5A;
            text-align: center;
            line-height: 50px;

            @media(max-width:768px) {
                margin: 0 auto 35px;
                width: 150px;
                height: 40px;
                font-weight: 600;
                line-height: 39px;
                font-size: 12px;
            }
        }
    }

    .about-section {
        width: 100%;
        height: 662px;
        background: #FBFBFB;

        @media(max-width:1350px) {
            padding: 0 10px;
            height: auto;
        }

        .container {
            display: flex;
            justify-content: space-between;
            max-width: 1288px;
            width: 100%;
            margin: 0 auto;
            padding: 100px 0 0px;

            @media(max-width:1350px) {
                padding: 30px 0;
            }

            @media(max-width:1150px) {
                flex-direction: column;
            }

            .info {
                margin-top: 27px;

                @media(max-width:1150px) {
                    margin-top: 0px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                h2 {
                    font-family: 'Raleway';
                    font-weight: 800;
                    font-size: 45px;
                    line-height: 53px;
                    letter-spacing: 0.016em;
                    color: #1A2F3F;

                    @media(max-width:1150px) {
                        font-size: 28px;
                        line-height: 35px;
                    }
                }

                p {
                    margin-top: 41px;
                    font-family: 'Raleway';
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0px;
                    color: $dark-blue;

                    br {
                        @media(max-width:1150px) {
                            display: none;
                        }
                    }

                    @media(max-width:1150px) {
                        margin-top: 20px;
                        font-size: 14px;
                        line-height: 24px;
                    }

                    span {
                        letter-spacing: 0.006em;
                        color: $dark-green
                    }
                }

                p:nth-child(2) {
                    margin-top: 41px;

                    @media(max-width:1150px) {
                        margin-top: 20px;
                    }
                }

                p:nth-child(3) {
                    margin-top: 25px;

                    @media(max-width:1150px) {
                        margin-top: 20px;
                        width: 100%;
                        text-align: left;
                    }
                }

                a {
                    margin-top: 45px;
                    display: block;
                    width: 169px;
                    height: 52px;
                    border: 1.5px solid $dark-green;
                    font-family: 'Raleway';
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 49px;
                    letter-spacing: 0.02em;
                    color: $dark-green;
                    text-align: center;

                    @media(max-width:768px) {
                        margin-top: 20px;
                        width: 130px;
                        height: 40px;
                        line-height: 39px;
                        font-weight: 600;
                        font-size: 12px;
                    }
                }
            }

            .slider {
                width: 700px;
                position: relative;

                @media(max-width:1150px) {
                    margin: 20px auto 0px;
                }

                @media(max-width:768px) {
                    width: 90%;
                }

                .about-swiper {
                    position: relative;

                    .nav-block {
                        position: absolute;
                        width: 141px;
                        height: 58px;
                        background: $dark-green;
                        bottom: 3px;
                        z-index: 1;

                        @media(max-width:768px) {
                            display: none;
                        }
                    }

                    .swiper-slide {
                        position: relative;

                        img {
                            @media(max-width:768px) {
                                width: 100%;
                            }
                        }
                    }

                    .swiper-button-prev::after {
                        z-index: 1001;
                        content: "";
                        position: absolute;
                        width: 34px;
                        height: 34px;
                        bottom: -202px;
                        left: 11px;
                        background-image: url('../../images/pages/home/white-arrow.svg');
                        transform: rotate(180deg);

                        @media(max-width:768px) {
                            bottom: 0px;
                            background-color: $dark-green;
                            height: 36px;
                            width: 36px;
                        }
                    }

                    .swiper-button-next::after {
                        z-index: 1001;
                        content: "";
                        position: absolute;
                        width: 34px;
                        height: 34px;
                        bottom: -200px;
                        right: 568px;
                        background-image: url('../../images/pages/home/white-arrow.svg');

                        @media(max-width:768px) {
                            right: 11px;
                            bottom: 0px;
                            background-color: $dark-green;
                            height: 36px;
                            width: 36px;
                        }
                    }
                }
            }
        }
    }

    .statistics-section {
        margin: 0 auto;
        max-width: 1130px;
        width: 100%;
        height: 222px;

        @media(max-width:768px) {
            height: 210px;
        }

        .wrapper {
            margin-top: 70px;
            display: flex;

            @media(max-width:1150px) {
                justify-content: space-between;
                padding: 0 10px;
            }

            @media(max-width:768px) {
                margin: 20px auto 0px;
                flex-wrap: wrap;
                width: 500px;
                justify-content: center;
            }

            @media(max-width:550px) {
                width: 350px;
            }

            .block {

                @media(max-width:768px) {
                    width: 170px;
                }

                @media(max-width:550px) {
                    width: 165px;
                }

                .number {
                    text-align: center;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 72px;
                    line-height: 88px;
                    letter-spacing: 0.01em;
                    color: $dark-blue;
                    position: relative;

                    @media(max-width:768px) {
                        font-size: 36px;
                        line-height: 50px;
                    }

                    span {
                        position: absolute;
                        top: 15px;
                        right: -27px;
                        font-family: "Raleway";
                        font-style: normal;
                        font-weight: 800;
                        font-size: 18px;
                        line-height: 21px;
                        letter-spacing: 3px;

                        @media(max-width:768px) {
                            right: 20px;
                            font-size: 16px;
                            line-height: 18px;
                        }
                    }
                }

                p {
                    margin-top: 5px;
                    text-align: center;
                    font-family: 'Raleway';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.02em;
                    color: $dark-blue;

                    @media(max-width:768px) {
                        font-size: 14px;
                        line-height: 18px;
                    }

                    br {
                        @media(max-width:768px) {
                            display: none;
                        }
                    }
                }
            }

            .block:nth-child(1) {}

            .block:nth-child(2) {
                margin-left: 204px;

                @media(max-width:1150px) {
                    margin-left: 0px;
                }

                .number {
                    span {
                        right: 11px;

                        @media(max-width:768px) {
                            right: 50px;
                        }
                    }
                }
            }

            .block:nth-child(3) {
                margin-left: 128px;

                @media(max-width:1150px) {
                    margin-left: 0px;
                }

                .number {
                    span {
                        right: 86px;

                        @media(max-width:768px) {
                            right: 40px;
                        }
                    }
                }
            }

            .block:nth-child(4) {
                margin-left: 102px;

                @media(max-width:1150px) {
                    margin-left: 0px;
                }

                .number {
                    span {
                        right: 0px;

                        @media(max-width:768px) {
                            right: 40px;
                        }
                    }
                }
            }
        }
    }

    .aim-section {
        width: 100%;
        height: 740px;
        background-image: url("../../images/pages/home/aim-bg.svg");
        text-align: center;
        padding-top: 242px;
        padding-right: 14px;

        @media(max-width:768px) {
            padding-top: 0px;
            padding-right: 0px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-position: center;
            background-size: cover;
            padding: 0 10px;
        }

        h2 {
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 45px;
            line-height: 53px;
            letter-spacing: 0.02em;
            color: #FFFFFF;

            @media(max-width:768px) {
                font-size: 28px;
                line-height: 33px;
            }

            br {
                @media(max-width:768px) {
                    display: none;
                }
            }
        }

        .play {
            margin: 70px auto 28px;
            width: 61px;
            height: 61px;
            border-radius: 50%;
            border: 2px solid white;
            padding: 20px 0px 0px 3px;

            @media(max-width:768px) {
                margin: 20px auto;
            }
        }

        p {
            font-family: 'Raleway';
            font-style: italic;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.046em;
            color: #FFFFFF;

            @media(max-width:768px) {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    .benefit-section {
        padding-top: 82px;

        @media(max-width:768px) {
            padding-top: 20px;
        }

        h2 {
            text-align: center;
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 45px;
            line-height: 53px;
            letter-spacing: 0.02em;
            color: $dark-blue;

            @media(max-width:768px) {
                padding-top: 0px;
                font-size: 28px;
                line-height: 35px;
            }
        }

        p {
            margin-top: 30px;
            text-align: center;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            letter-spacing: 0.01em;
            color: $dark-blue;

            @media(max-width:768px) {
                margin-top: 0px;
                padding-top: 10px;
                font-size: 14px;
                line-height: 24px;
            }

            br {
                @media(max-width:768px) {
                    display: none;
                }
            }
        }

        .wrapper {
            margin-top: 63px;
            display: flex;
            justify-content: center;
            gap: 30px;

            @media(max-width:1150px) {
                flex-wrap: wrap;
            }

            @media(max-width:768px) {
                margin-top: 20px;
            }

            .block {
                cursor: pointer;
                width: 410px;
                height: 525px;
                background: url('../../images/pages/home/banefit-bg-1.svg');
                position: relative;
                transition: 0.5s all ease-in-out;

                @media(max-width:1350px) {
                    width: 350px;
                    height: 360px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    transition: 0.5s all ease-in-out;

                    @media(max-width:1350px) {
                        background: rgba(51, 125, 90, 0.95);
                    }
                }

                &:hover::before {
                    background: rgba(51, 125, 90, 0.95);
                }

                &:hover .container {
                    position: absolute;
                    justify-content: flex-start;
                    padding-top: 97px;

                    @media(max-width:1350px) {
                        padding-top: 20px;
                    }

                    h3 {
                        margin-top: 5px;
                    }

                    p {
                        opacity: 1;
                        height: auto;
                    }
                }

                .container {
                    padding-top: 45px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    transition: 0.5s all ease-in-out;

                    @media(max-width:1350px) {
                        padding-top: 20px;
                        position: absolute;
                        justify-content: flex-start;
                    }


                    h3 {
                        margin-top: 17px;
                        font-family: 'Raleway';
                        font-weight: 800;
                        font-size: 40px;
                        line-height: 47px;
                        letter-spacing: 0.02em;
                        color: #FFFFFF;

                        @media(max-width:1350px) {
                            margin-top: 5px;
                            font-size: 24px;
                            line-height: 35px;
                        }
                    }

                    p {
                        height: 0px;
                        opacity: 0;
                        margin-top: 22px;
                        padding: 0px 30px;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 23px;
                        text-align: center;
                        letter-spacing: 0.02em;
                        color: #FFFFFF;

                        @media(max-width:1350px) {
                            font-size: 16px;
                            line-height: 20px;
                            padding: 0px 10px;
                            opacity: 1;
                            height: auto;
                        }
                    }

                    p:nth-child(2) {
                        margin-top: 17px;
                    }

                    img {
                        margin-left: 10px;
                    }
                }
            }

            .block:nth-child(2) {
                background-image: url('../../images/pages/home/banefit-bg-2.svg');

                img {
                    margin-left: 6px;
                }

            }

            .block:nth-child(3) {
                background-image: url('../../images/pages/home/banefit-bg-3.svg');

                img {
                    margin-left: -19px;
                }
            }
        }
    }

    .eco-section {
        margin-top: 100px;
        height: 740px;
        width: 100%;
        background-image: url("../../images/pages/home/eco-prod-bg.svg");
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 224px 0px 0px;

        @media(max-width:768px) {
            margin-top: 30px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px;
            background-size: cover;
            background-position: center;
        }

        h2 {
            margin-top: 43px;
            margin-left: -20px;
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 45px;
            line-height: 53px;
            letter-spacing: 0.02em;
            color: #FFFFFF;

            @media(max-width:768px) {
                margin-left: 0px;
                margin-top: 20px;
                font-size: 28px;
                line-height: 35px;
            }
        }

        p {
            margin-top: 20px;
            margin-left: 9px;
            font-family: "Raleway";
            font-weight: 500;
            font-size: 22px;
            line-height: 31px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #fff;

            @media(max-width:768px) {
                font-size: 18px;
                line-height: 24px;
            }

            br {
                @media(max-width:768px) {
                    display: none;
                }
            }
        }
    }

    .news-section {
        background: rgba(249, 249, 249, 0.7);
        padding: 83px 0px 90px;

        @media(max-width:768px) {
            padding: 20px 0px 20px;
        }

        .container {

            .title {
                display: flex;
                justify-content: space-between;

                @media(max-width:768px) {
                    justify-content: center;
                }

                .text {
                    h2 {
                        font-family: 'Raleway';
                        font-weight: 800;
                        font-size: 45px;
                        line-height: 53px;
                        letter-spacing: 0.02em;
                        color: $dark-blue;

                        @media(max-width:768px) {
                            text-align: center;
                            font-size: 28px;
                            line-height: 35px;
                        }
                    }

                    p {
                        margin-top: 34px;
                        font-family: "Raleway";
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        letter-spacing: .01em;
                        margin-left: 2px;
                        color: $dark-blue;

                        @media(max-width:768px) {
                            margin-top: 10px;
                            text-align: center;
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }

                .move {
                    position: relative;
                    margin: 31px 5px 0px 0px;
                    width: 141px;
                    height: 58px;
                    background-color: $dark-green;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 21px;

                    @media(max-width:768px) {
                        display: none;
                    }

                    .swiper-button-news-next,
                    .swiper-button-news-prev {
                        width: 34px;
                        height: 34px;
                        background-image: url("../../images/pages/home/white-arrow.svg");
                    }

                    .swiper-button-news-prev {
                        margin-top: 3px;
                        transform: rotate(180deg);
                    }
                }
            }

            .slider {
                margin-top: 64px;
                padding: 0px 5px;

                @media(max-width:768px) {
                    margin-top: 20px;
                }

                .news-swiper {
                    .swiper-slide {
                        width: 410px;
                        height: 532px;
                        background: #FFFFFF;
                        cursor: pointer;

                        img {
                            width: 100%;
                            object-fit: cover;
                        }

                        .info {
                            padding: 19px 22px 19px;

                            span {
                                font-family: 'Montserrat';
                                font-weight: 500;
                                font-size: 13px;
                                line-height: 22px;
                                letter-spacing: 0.01em;
                                color: $grey;
                            }

                            h3 {
                                margin-top: 9px;
                                font-family: "Raleway";
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: 0.01em;
                                color: $dark-blue;
                            }

                            p {
                                margin-top: 10px;
                                font-family: 'Raleway';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 20px;
                                letter-spacing: 0.01em;
                                color: $dark-blue;
                            }

                            a {
                                margin-top: 21px;
                                display: block;
                                font-family: 'Raleway';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 20px;
                                letter-spacing: 0.01em;
                                color: $dark-blue;
                                position: relative;
                                transition: all 0.25s ease-in-out;

                                &:hover {
                                    color: $dark-green;
                                }

                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 18px;
                                    height: 9px;
                                    top: 6px;
                                    left: 56px;
                                    background-image: url('../../images/pages/home/news-arrow-black.svg');
                                    transition: all 0.25s ease-in-out;
                                }

                                &:hover::after {
                                    background-image: url('../../images/pages/home/news-arrow-green.svg');
                                }
                            }
                        }
                    }
                }
            }

            .more-news {
                margin: 70px auto 0px;
                padding-left: 3px;
                text-align: center;
                display: block;
                width: 225px;
                height: 51px;
                border: 1.5px solid $dark-green;
                font-family: 'Raleway';
                font-weight: 700;
                font-size: 15px;
                line-height: 47px;
                letter-spacing: 0.02em;
                color: $dark-green;

                @media(max-width:768px) {
                    margin-top: 20px;
                    width: 180px;
                    height: 40px;
                    line-height: 39px;
                    font-weight: 600;
                    font-size: 12px;
                }
            }
        }
    }
}